/* ----->shared styles */
/* embedded font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

.banner-section,
.popular-tours,
.choose-destination,
.why-choose-us,
.newsletter-part {
    width: 1195px;
    margin: 0 auto;
    margin-bottom: 100px;
}


.input-field {
    width: 195px;
    height: 52px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-radius: 8px;
    background: #FFF;
    border-style: none;

    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

    outline: none;
}

.heading-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.second-heading-title {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;
}

.third-heading-style {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.text-style {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.btn-style {
    cursor: pointer;
    padding-left: 0;
    text-align: center;

    background: #FF5400;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.row-one,
.row-two,
.row-three,
.best-services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



.destination-text,
.why-choose-text {
    text-align: center;
    margin-bottom: 40px;
}


/* ---------------------------------- banner section styles */
.banner-section {
    height: 500px;
    background-image: url(../images/Group\ 13.png);
    border-radius: 16px;

}

.banner-content {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.banner-text-style {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

    max-width: 700px;
    text-align: center;
    color: #FFF;
}

#input-text {
    width: 172px;
    height: 50px;
}

.input-container {
    background: rgba(255, 255, 255, 0.30);
    width: 850px;
    display: flex;
    justify-content: space-between;

    padding: 15px 20px;
    border-radius: 8px;
}

/* ---------------------------------- popular-tours section styles */
.popular-tours {
    display: flex;
    justify-content: space-between;
}

.popular-tours .second-heading-title {
    margin-top: 0;
}

.popular-tours button {
    margin-top: 25px;
}

.popular-tours ul li {
    max-width: 500px;
}

.popular-tours p {
    max-width: 610px;
}

/* ---------------------------------- choose-destination section styles */
/* .destination-text,
.why-choose-text {
    text-align: center;
    margin-bottom: 40px;
} */

/* ---------------------------------- why-choose-us section styles */
.single-service {
    width: 500px;
    height: 284px;

    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

    padding: 32px;
}

#unique-single-service {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-choose-us .single-service-center {
    margin: 0 auto;
    margin-top: 45px;
}

/* ---------------------------------- newsletter section styles */
.newsletter-part {
    display: flex;
}

.newsletter-input-container {
    width: 474px;

    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-input-container {
    padding: 30px;
    margin-right: 30px;
}

.newsletter-input-container hr {
    margin: 20px 0;
}

.newsletter-input input {
    width: 96%;
    height: 26px;
    font-size: 1rem;
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    /* padding: 16px 0 16px 20px; */
    padding: 12px 0 12px 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
}

.newsletter-input button {
    width: 100%;
    font-size: 1.4rem;
}


/* ---------------------------------- responsiveness for mobile device */
@media screen and (max-width: 600px) {

    /* ---------shared responsiveness styles */
    .popular-tours,
    .popular-tours img,
    .choose-destination,
    .why-choose-us,
    .single-service,
    single-service-center,
    .newsletter-part,
    .newsletter-part img {
        width: 100%;
    }

    .input-container,
    .popular-tours,
    .row-one,
    .row-two,
    .row-three,
    .best-services,
    .newsletter-part {
        flex-direction: column;
        align-items: center;
    }


    .banner-text-style,
    .text-style {
        max-width: 350px;
        font-size: 0.8rem;
    }

    /* -----------------------banner section responsiveness */
    .banner-section {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }

    .heading-title {
        font-size: 2rem;
    }

    .input-field {
        width: 300px;
        margin-top: 20px;
    }

    #input-text {
        width: 277px;
    }

    .input-container {
        width: 350px;
        flex-direction: column;
        align-items: center;

        padding: 0 0 20px 0;
        margin: 30px 0 60px 0;
    }

    /* -----------------------popular-tours section responsiveness */
    .popular-tours button {
        margin-bottom: 30px;
    }

    .second-heading-title {
        font-size: 1.8rem;
    }

    /* -----------------------choose-destination section responsiveness */
    .row-one,
    .row-two,
    .row-three {
        margin-bottom: 0;
    }

    .choose-destination img {
        width: 335px;
        height: 176px;
        margin-bottom: 16px;
    }

    /* -----------------------why-choose-us section responsiveness */
    .single-service,
    single-service-center {
        width: 260px;
        height: 240px;
    }

    .best-services .single-service {
        margin-bottom: 40px;
    }

    .why-choose-us .single-service-center {
        margin-top: -28px;
    }

    /* -----------------------newsletter section responsiveness */
    .newsletter-input-container {
        width: 80%;
        margin: 0;
        margin-bottom: 30px;
    }
}