/* ----->shared styles */
/* embedded font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

.banner-section,
.popular-tours,
.choose-destination {
    width: 1195px;
    margin: 0 auto;
    margin-bottom: 100px;

    border: 2px solid green;
}

.input-field {
    width: 195px;
    height: 52px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-radius: 8px;
    background: #FFF;
    border-style: none;

    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

    outline: none;
}

.heading-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.second-heading-title {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;
}

.text-style {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.btn-style {
    cursor: pointer;
    padding-left: 0;
    text-align: center;

    background: #FF5400;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}


/* ---------------------------------- banner section styles */
.banner-section {
    height: 500px;
    background-image: url(../images/Group\ 13.png);
    border-radius: 16px;

}

.banner-content {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.banner-text-style {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

    max-width: 700px;
    text-align: center;
    color: #FFF;
}

#input-text {
    width: 172px;
    height: 50px;
}

.input-container {
    background: rgba(255, 255, 255, 0.30);
    width: 850px;
    display: flex;
    justify-content: space-between;

    padding: 15px 20px;
    border-radius: 8px;
}

/* ---------------------------------- popular-tours section styles */
.popular-tours {
    display: flex;
    justify-content: space-between;
}

.popular-tours .second-heading-title {
    margin-top: 0;
}

.popular-tours button {
    margin-top: 25px;
}

.popular-tours ul li {
    max-width: 500px;
}

.popular-tours p {
    max-width: 610px;
}

/* ---------------------------------- choose-destination section styles */
.destination-text {
    text-align: center;
    margin-bottom: 40px;
}

.row-one,
.row-two,
.row-three {

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



/* ---------------------------------- responsiveness for mobile device */
@media screen and (max-width: 600px) {

    /* ---------shared responsiveness styles */
    .input-container,
    .popular-tours,
    .row-one,
    .row-two,
    .row-three {
        flex-direction: column;
        align-items: center;
    }


    .banner-text-style,
    .text-style {
        max-width: 350px;
        font-size: 0.8rem;
    }

    /* -----------------------banner section responsiveness */
    .banner-section {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }

    .heading-title {
        font-size: 2rem;
    }

    .input-field {
        width: 300px;
        margin-top: 20px;
    }

    #input-text {
        width: 277px;
    }

    .input-container {
        width: 350px;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */

        padding: 0 0 20px 0;
        margin: 30px 0 60px 0;
    }

    /* -----------------------popular-tours section responsiveness */
    .popular-tours,
    .popular-tours img,
    .choose-destination {
        width: 100%;
    }

    .popular-tours button {
        margin-bottom: 30px;
    }

    .second-heading-title {
        font-size: 1.8rem;
    }

    /* -----------------------choose-destination section responsiveness */
    .row-one,
    .row-two,
    .row-three {
        margin-bottom: 0;
    }

    .choose-destination img {
        width: 335px;
        height: 176px;
        margin-bottom: 16px;
    }
}